body {
  background-color: #CCC;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #777;
}
#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 40px;
}
h1, h2, h4, ul {
  display: inline;
}
h1 {
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 0 20px;
}
h2 {
  font-size: 20px;
  margin: 0;
}
h4 {
  font-size: 16px;
  color: #777;
  margin: 0 0 0 20px;
}
a {
  text-decoration: none;
}
p, aside p, footer p {
  display: inline-block;
  width: 100%;
  line-height: 20px;
  color: #777;
}
article p:first-letter { 
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  line-height: .9em;
  float: left;
  margin: .1em;
}
a.continue {
  display: block;
  font-size: 15px;
  text-align: right;
  margin-right: 20px;
  color: red;
}
main, nav, aside, footer {
  display: inline-block;
  padding: 20px 0;
}
header {

}
nav {
  width: 100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav li{
    display: inline-block;
    background-color: black;
    padding: 15px 35px;
    margin-right: 1px;
    font-size: 16px;
    text-align: center;
}
li a{
  color: white;
}
main {
  width: 65%;

}
/*
article {
  width: 100%;
}
*/
time {
  font-size: 25px;
  font-weight: 100;
  display: block;
}
aside {
  vertical-align: top;
  width: 32%;
  margin-left: 20px;
}
article, section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCC;
}
footer {
  width: 100%;
  color: red;
}
footer a {
    color: red;
}
main article img {
  display: block;
  width: 100%;
}
main article h2 a {
  color: black;
}
aside section img {
  display: block;
  width: 90%;
  padding: 5px;
}
header h1 a {
    color: red;
    float: left;
}
aside section ul{
    list-style-type: disc;
    list-style-position: inside;

}
aside section li a{
    font-size: 14px;
    color: #F77F7F;
    display: inline-block;
    text-align: left;
    text-decoration: none;
}
